

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
main {
  height: 100vh;
}

.input-button {
  border: 1px solid #ccc;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 20%;
  cursor: pointer;
  transition-duration: 0.2s;
}

.input-button:hover {
  background-color: #0056b3;
}

.card-body span {
  cursor: pointer;
}
